button{
    background: none;
    border: none;
    cursor: pointer;
}
a{
    text-decoration: none;
    cursor: pointer;
}
img{
    width: 100%;
}
body{
    background: $gray;
}
.container{
    max-width: 1740px;
    width: 100%;
    padding: 0 10px;
}