@import '../variables';
header{
    background: $header-bg;
    .header-top-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        border-bottom: 2px solid $header-border-color;
        .topbar-massage{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            column-gap: 10px;
            p{
                @include top-bar-massage-style;
            }
            a{
                @include top-menu-link-style;
                transition: .5s ease;
                color: $white;
            }
        }
        .top-bar-right{
            .top-menu-area{
                ul{
                    li{
                        display: inline-block;
                        border-right: 2px solid $header-border-color;
                        padding: 0  15px ;
                        a{
                            @include top-menu-link-style;
                            transition: .5s ease;
                        }
                        button{
                            @include top-menu-link-style;
                            transition: .5s ease;
                            img{
                                width: 15px;
                            }
                        }
                        &:last-child{
                            border-right: none;
                        }
                    }
                    .language-select{
                        position: relative;
                        
                        ul{
                            position: absolute;
                            top: 100%;
                            left: 0;
                            display: none;
                            @include dropdown-menu-style;
                            li{
                                border-right: none;
                                border-bottom: 1px solid $gray;
                                padding: 10px 0;
                               button{
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                column-gap: 10px;
                                &:hover{
                                    transform: translateX(10px);
                                }
                                img{
                                    width: 20px;
                                }
                               }
                            }
                        }
                    }
                    .currency-select{
                        position: relative;
                        
                        ul{
                            position: absolute;
                            top: 100%;
                            left: 0;
                            display: none;
                            @include dropdown-menu-style;
                            li{
                                border-right: none;
                                border-bottom: 1px solid $gray;
                                padding: 10px 0;
                               button{
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                column-gap: 10px;
                                &:hover{
                                    transform: translateX(10px);
                                }
                               }
                            }
                        }
                    }
                    
                   
                }
            }
        }
    }
    .header_main_area{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        .logo{
            
            a{
                width: 300px;
                display: block;
            }
        }
    }
}